# FastAPI e Servidor
fastapi
uvicorn[standard]
gunicorn
python-multipart

# ORM e Migrações
sqlalchemy
alembic
psycopg2-binary # Driver Postgres

# Dados e Scripts
pandas
python-dotenv

# Autenticação e Segurança
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]

# Monitoramento e Dashboard
prometheus-fastapi-instrumentator
streamlit

# Testes
pytest
pytest-cov
httpx